pytorch
tensorboard
spacy
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.2.5/fr_core_news_sm-2.2.5.tar.gz#egg=fr_core_news_sm
tqdm
git+https://github.com/experimaestro/datamaestro
git+https://github.com/experimaestro/datamaestro_text
